[submodule "P3/manifests"]
	path = P3/manifests
	url = git@github.com:Romina-M-A/rmohamma_42_iot_app.git

[submodule "bonus/manifests"]
	path = bonus/manifests
	url = http://gitlab.local/root/rmohamma_42_iot_app.git
